@media screen and (min-width:992px) {
    .mainPage{
        background: rgb(67,92,116);
    }
    .head{
        background-color: #f6f6f9;
        height: 100px;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 999;
        background: #2886c7;
    }
    .sort{
        display: inline-block;
        margin-left: 20px;
        color: rgb(23,19,27);
        font-size: 40px;
        line-height: 100px;
    }
    .goodsList{
        min-height: calc(100vh - 100px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
@media screen and (max-width:992px) {
    .mainPage{
        background-color: black;
    }
    .head{
        width: 100vw;
        height: 14vh;
        display: flex;
        .person{
            height: 80px;
            width: 80px;
            border-radius: 40px;
            border: 4px solid #fff;
            margin-top:80px;
            margin-left: 40px;
        }
        .picker{
            margin-top: 80px;
            margin-left: 20px;
            .positionIcon{
                height: 30px;
                width: 30px;
                vertical-align: top;
                margin-top: 5px;
            }
            .position{
                color: #fff;
                display: inline;
                font-size: 26px;
                vertical-align: top;
                margin-left: 10px;
            }
        }
        .location{
            color: #fff;
            margin-left: 20px;
            letter-spacing: 5px;
            font-weight: bold;
        }
    }
    .swiper{
        width: 90%;
        height: 10vh;
        margin: 0 auto;
        overflow-x: scroll;
        &::-webkit-scrollbar{display:none}
        .content{
            min-width: 100%;
            height: 100%;
            float: left;
            display: flex;
            align-items: center;
            font-size: 20px;
            radio{
                display: none;
                position: absolute;
            }
            .type{
                color: #7a7693;
                width: auto;
                height: 100%;
                margin-right:40px;
                display: flex;
                align-items: center;
                padding: 10px 15px;
                border-radius: 25px;
            }
            .icon{
                max-width: 50px;
                height: 50px;
            }
            .text{
                margin-left: 10px;
                font-weight: bold;
                font-size: 26px;
                white-space: nowrap;
            }

        }
    }
    .goodsContent{
        width: 90vw;
        height: 76vh;
        margin: 0 auto;
        overflow-y: scroll;
        .goodsList{
            width: 90vw;
            min-height: 76vh;
            column-count: 2;
            column-gap: 10px;
            &::-webkit-scrollbar{display:none}
        }
    }
}