@media screen and (max-width:992px) {
    .back{
        position: absolute;
        width: 126px;
        height: 126px;
        top: 80px;
        left: 40px;
        background: linear-gradient(to bottom right,#1c1c1c,#323232);
        backdrop-filter: blur(60px);
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .backIcon{
            width: 30px;
            height: 50px;
            padding-right: 10px;
        }
    }
    .img{
        width: 100vw;
        height: 51vh;
        padding-top: 8vh;
        background: #000;
    }
    .imgInfo{
        width: 100vw;
        height: 51vh;
        display: block;
        margin: 0 auto;
    }
    .content{
        width: 100vw;
        height: 41vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000;
        .title{
            margin-top: 20px;
            margin-left: 50px;
            color: #fff;
            .h3{
                font-size: 50px;
                font-weight: bold;
                letter-spacing: 5px;
            }
            .h6{
                font-size: 24px;
                color: #7A7693;
                letter-spacing: 5px;
                font-weight: normal;
                // letter-spacing: 15px;
            }
            .cold{
                margin-left: 20px;
                letter-spacing: 1px;
                vertical-align:middle;
                display: inline-block;
                font-size: 23px;
                text-align: center;
                line-height: 60px;
                color: #a4a9ac;
                width: 80px;
                height: 60px;
                border: 3px solid #505050;
                border-radius: 12px;
            }
        }
        .info{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0 50px;
            .type{
                width: 60px;
                .typeIcon{
                    color: #7A7693;
                    font-size: 100px;
                }
                .typeText{
                    width: 100px;
                    font-size: 20px;
                    color: #7A7693;
                    text-align: center;
                    letter-spacing: 4px;
                }
            }
            .price{
                font-size: 70px;
                font-weight: bold;
                color: #fff;
                position: relative;
                View{
                    font-size: 20px;
                    color: #7A7693;
                    text-align: center;

                    letter-spacing: 4px;
                }
                &::after{
                    content: '￥';
                    color: #fff;
                    font-size: 40px;
                    position: absolute;
                    top: 10px;
                    left: -50px;
                }
            }
        }
        .pay{
            letter-spacing: 8px;
            margin-bottom: 48px;
            width: 80%;
            height: 100px;
            line-height: 100px;
            border-radius: 32px;
            outline: none;
            border: none;
            background: #fff;
            color: #000;
            font-size: 38px;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-content: center;
            .payIcon{
                font-size: 28px;
                line-height: 38px;
                margin-top: 5px;
                margin-left: 2px;
            }
        }
    }
}